---
  locale: "en"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.content.title }}</title>
    <meta name="description" content="{{site.meta-description}}">
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if site.google-analytics.use %}
    {% include google-analytics.html %}
    {% endif %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">{{ site.brigade.name }}</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                {% include navbar.html %}
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->

    <!-- Carousel
    ================================================== -->
    <div class="carousel slide">
      <div class="carousel-inner">
        <div class="item active lazy-load" data-src-small="{{ site.content.banner-small }}" data-src-large="{{ site.content.banner-large }}" >

        
        <noscript>
          <style type="text/css">
            .lazy-load{
              background-image:url({{ site.content.banner-small }}); 
              background-size: cover; 
              background-position-x: 50%; 
              background-repeat-y: no-repeat;
            }
          </style>
        </noscript>

          <div class="container">

            <div class="carousel-caption">
              {% include carousel-caption.html %}
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        {% include info-columns.html %}
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      {% include projects.html %}

      <hr class="featurette-divider">
      {% include help-your-city.html %}

      <hr class="featurette-divider">
      {% include meetups.html %}

      <hr class="featurette-divider">
      {% include discussion.html %}

      <hr class="featurette-divider">
      {% include mailchimp.html %}

      <hr class="featurette-divider">
      {% include contact.html %}

      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        {% include footer.html %}
      </footer>

    </div><!-- /.container -->
    <script>
        
    LZLD = {};

    //get pixel ratio, default to 1
    LZLD.devicePixelRatio = window.devicePixelRatio || 1;

    //screenwidth * pixelratio
    LZLD.screenWidth = window.innerWidth * LZLD.devicePixelRatio;

    //get images blocks and loop through them
    LZLD.lazyLoadImages = function(){
        var lazyloadUs = document.getElementsByClassName("lazy-load");                
        for(var i = 0; i < lazyloadUs.length; i++){       
            LZLD.lazyloadImage(lazyloadUs[i]);
        }
    }

    LZLD.lazyloadImage = function(lazyLoadMe){
        
        var noscriptTag = lazyLoadMe.children[0];

        var imgSRCSmall = lazyLoadMe.getAttribute("data-src-small");
        var imgSRCLarge = lazyLoadMe.getAttribute("data-src-large");

        var bstyle1="background-image:url(\""
        var bstyle2="\"); background-size: cover; background-position-x: 50%; background-repeat-y: no-repeat;"

        if(LZLD.screenWidth < 767){
            lazyLoadMe.setAttribute("style", bstyle1 + imgSRCSmall + bstyle2);
        }else{
            lazyLoadMe.setAttribute("style", bstyle1 + imgSRCLarge + bstyle2);
        }
    }

    // do it
    LZLD.lazyLoadImages();
    </script>
  </body>
</html>
