<div class="featurette">
  <a href="http://brigade.codeforamerica.org/">
    <img name="cfa" id="cfa" class="featurette-image pull-right" src="images/cfa_brigade_logo.png" alt="code for america">
  </a>
  <h2 class="featurette-heading">Want To Help Your City? <span class="muted">Good, we could use your help.</span></h2>
  <p class="lead">We are a <a href="http://brigade.codeforamerica.org/">Code for America Brigade</a>,
    which means we're volunteers that contribute
    our talents toward improving the way our local governments and community organizations use the web.</p>
  <p class="lead">Friendly Code and Code for America share a Code of Conduct that applies to our activities, events, and digital forums. We do not tolerate discrimiation or harrassment of any kind. <a href="https://github.com/friendlycode/codeofconduct">Check out our full Code of Conduct.</a></p>
    <p class="lead">Brigade is about action and you're here because you are someone who takes action.
    <a href="http://brigade.codeforamerica.org/pages/activities">See what kind of things brigades do</a>, or watch the
      <a href="https://www.youtube.com/watch?v=n4EhJ898r-k">
        inspirational TED talk given by Jennifer Pahlka, the founder of Code for America.</a></p>
</div>
