<div class="featurette">
  <a href="{{ site.brigade.mailchimp }}">
    <img name="meetup" id="meetup" class="featurette-image pull-left" src="images/mailchimp.png">
    </a>
  <h2 class="featurette-heading">Intrigued? <span class="muted">Keep In Touch.</span></h2>
  <p class="lead">Interested in what we're doing, but too busy to get involved just yet? Sign up for our very occasional <a href="{{ site.brigade.mailchimp }}">email newsletter</a> or follow our progress on <a href="{{ site.brigade.facebook }}">Facebook</a>. We'll be launching new initiatives throughout the year and we'll make sure you know about them and how you can help.
</div>