<!-- Link all scripts in here -->
<script src="/js/jquery.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/modernizr.foundation.js"></script>
<script src="/js/app.js"></script>
<script src="/js/foundation.min.js"></script>
<script src="/js/jquery.foundation.accordian.js"></script>
<script src="/js/jquery.foundation.alerts.js"></script>
<script src="/js/jquery.foundation.buttons.js"></script>
<script src="/js/jquery.foundation.forms.js"></script>
<script src="/js/jquery.foundation.navigation.js"></script>
<script src="/js/jquery.foundation.orbit.js"></script>
<script src="/js/jquery.foundation.reveal.js"></script>
<script src="/js/jquery.foundation.tabs.js"></script>
<script src="/js/jquery.foundation.tooltips.js"></script>


