<li>
  <a href="{{ site.brigade.github }}" title="Our Code on GitHub">
    <i class="icon-github"></i>
    <span>Our Code on GitHub</span>
  </a>
</li>

<li class="divider social-menu-item"></li>
<li class="social-menu-item">
  <a href="{{ site.brigade.meetup-link }}" title="Our Events on Meetup">
    <i class="icon-group"></i>
    <span>Our Events on Meetup</span>
  </a>
</li>
<li class="social-menu-item">
  <a href="{{ site.brigade.facebook }}" title="Our Facebook Page">
    <i class="icon-facebook icon-sign"></i>
    <span>Our Facebook Page</span>
  </a>
</li>
<li class="social-menu-item">
  <a href="{{ site.brigade.twitter }}" title="Our Tweets">
    <i class="icon-twitter"></i>
    <span>Our Tweets</span>
  </a>
</li>
