<html>
<head>
  <title>Friendly Code is Friendly</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
  <link href='/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
      <a href="/"><img class="logo" src="/img/friendlycode.jpg"></a>
    </header>
    {{ content }}
    {% include gauges.html %}
    <aside id="mailchimp">
  <a href="/newsletter"><h2>Monthly Newsletter</h2></a>
      <a href="http://www.meetup.com/cfabrigade/Grand-Rapids-MI/"><h2>Meetup Group</h2></a>
      <a href="https://www.facebook.com/friendlycodegr"><h2>Facebook Page</h2></a>
      <a href="https://groups.google.com/forum/?hl=en&fromgroups#!forum/friendly-code"><h2>Google Group (for more technical discussions)</h2></a>
    </aside>
    <footer>
      {% include footer.html %}
    </footer>
  </div>
</body>

</html>